.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: steelblue;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.App-header h2 {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  border-radius: 20px;
  border: none;
  background-color: steelblue;
  color: whitesmoke;
  font-size: 16px;
  padding: 8px 10px;
  margin: 0 10px 30px 10px; 
}

.movie {
  margin: 1px;
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-form {
  width: 250px;
  margin: 0 auto;
}

.movie-form input, .movie-form textarea{
  width: 250px;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
}

.movie-form button{
  border-radius: 20px;
  border: none;
  background-color: steelblue;
  color: whitesmoke;
  font-size: 16px;
  padding: 8px 10px;
  margin: 0 10px 30px 10px;
}
